<footer>
    <div class="mainFooter">
    <div class="footerItem">
        <a href="/"><i class="ri-home-2-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="#"><i class="ri-trophy-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/explore"><i class="ri-gallery-view"></i></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/profile"><i class="ri-profile-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/edit-profile"><i class="ri-settings-line"></i></i></a>
    </div>
    </div>
</footer>

</body>
</html>
