@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root{
  --primaryColor: #16423C;
  --secondaryColor: #6A9C89;
  --tertiaryColor: #C4DAD2;
  --quatenaryColor: #E9EFEC;
  --whiteColor: #fff;
  --blackColor: #000;
  --bigFont: 5rem;
  --medFont: 3rem;
  --smallFont: 1.25rem;
  --navFont: 1rem;
}
body,html{
  height: 100%;
  width: 100%;
}
