@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
html,body,#root,.app{
  height: 100%;
  width: 100%;
}

:root{
  --primaryColor: #16423C;
    --secondaryColor: #6A9C89;
    --tertiaryColor: #C4DAD2;
    --quatenaryColor: #E9EFEC;
    --whiteColor: #fff;
    --blackColor: #000;
    --bigFont: 5rem;
    --medFont: 3rem;
    --smallFont: 1.25rem;
    --navFont: 1rem;
}