@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root{
  --primaryColor: #16423C;
  --secondaryColor: #6A9C89;
  --tertiaryColor: #C4DAD2;
  --quatenaryColor: #E9EFEC;
  --whiteColor: #fff;
  --blackColor: #000;
  --bigFont: 5rem;
  --medFont: 3rem;
  --smallFont: 1.25rem;
  --navFont: 1rem;
}