<%- include("partials/header.ejs") %>
<div class="container">
  <div class="nav">Hello Admin!</div>
  <div class="stats">
    <div class="statsItem">
      <div class="statsItemTitle">Total Users</div>
      <div class="statsItemValue">100</div>
    </div>
    <div class="statsItem">
      <div class="statsItemTitle">Total Posts</div>
      <div class="statsItemValue">50</div>
    </div>
  </div>
</div>
<%- include("partials/loggedInFooter.ejs") %>
