<%- include("partials/header.ejs") %>

<div class="container">
  <h2>Admin Login</h2>
  <form action="/users/admin/login" method="POST" class="adminLoginForm">
    <label for="username">Email</label>
    <input type="email" id="username" required />
    <label for="password">Password</label>
    <input type="password" id="password" required />
    <input type="submit" value="Login" />
  </form>
</div>
<%-include("partials/footer.ejs") %>
