<%- include("partials/header.ejs") %>

<div class="container" style="padding-top: 50px">
  <h1 style="font-size: 3.75rem">Welcome To Questify!</h1>
  <p style="text-align: center">
    Questify is a platform where users can connect, share, and discover new
    experiences and opportunities. <br />Sign up today and start exploring the
    world of adventure!
  </p>
  <a
    style="
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      margin-top: 2.5rem;
    "
    href="/users/signup"
    class="btn"
    >Sign Up Now</a
  >
</div>
<%-include("partials/footer.ejs") %>
